altgraph==0.16.1
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
entrypoints==0.2.3
future==0.16.0
idna==2.6
keyring==12.2.1
kiwisolver==1.0.1
lxml==4.2.1
macholib==1.10
matplotlib==2.2.2
modulegraph==0.17
numpy==1.14.4
pefile==2017.11.5
Pillow==5.2.0
py2app==0.15
PyInstaller==3.3.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
requests==2.18.4
six==1.11.0
urllib3==1.22
