certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
entrypoints==0.2.3
idna==2.6
keyring==12.2.1
kiwisolver==1.0.1
lxml==4.2.1
matplotlib==2.2.2
numpy==1.14.4
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
requests==2.18.4
six==1.11.0
urllib3==1.22
